form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 1200px;
}
input {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 50%;
  height: 30px;
  padding-left: 0.5rem;
}
.Email {
  display: flex;
  flex-direction: column;
}
select {
  margin-right: 0.5rem;
}

.send {
  margin-top: 2rem;
  width: 70%;
  background-color: #ad7cf3;
  color: azure;
}

.Female,
.Male {
  padding-left: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-size: 1rem;
}

.Title {
  display: flex;
  align-items: baseline;
}
.Name-Title {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius:  8px;
  margin-bottom: 1rem;
}
